In [24]:
import pandas as pd

In [25]:
#reading in the files - needs to have the filenames/placement updated!

df_2012 = pd.read_csv(r'C:\Users\chris\Desktop\Value-Analysis-Thesis\mining inital data\miccai_2012.csv')
df_2021 = pd.read_csv(r'C:\Users\chris\Desktop\Value-Analysis-Thesis\mining inital data\miccai_2021.csv')

In [26]:
#dropping erratum article from 2012
df_2012.drop(df_2012[df_2012["Title"].str.contains("Erratum")].index, inplace = True)
df_2012.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252 entries, 0 to 252
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           252 non-null    int64
 1   Title                252 non-null    object
 2   Authors              252 non-null    object
 3   Page numbers         252 non-null    object
 4   DOI                  252 non-null    object
 5   Year of publication  252 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 13.8+ KB

In [27]:
#dropping corrections to articles from 2021 - still one more article found than according to 
#description on Springer!

df_2021.drop(df_2021[df_2021["Title"].str.contains("Correction to")].index, inplace=True)
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 532 entries, 0 to 535
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           532 non-null    int64
 1   Title                532 non-null    object
 2   Authors              532 non-null    object
 3   Page numbers         532 non-null    object
 4   DOI                  532 non-null    object
 5   Year of publication  532 non-null    int64
dtypes: int64(2), object(4)
memory usage: 29.1+ KB

In [28]:
#looks at the titles and checks if the word classification, prediction or detection are present
#creates a list of 0's and 1's accordingly
def titleAnalysis(df):
    class_list =[]
    for index in df['Title']:
        if index.lower().find("classification") > 0 or index.lower().find("prediction") > 0 or index.lower().find("detection") > 0:
            class_list.append(1)
        else:
            class_list.append(0)
    return class_list

In [29]:
#calls method for inital title analysis and adds list to the dataframe
classification_list = titleAnalysis(df_2012)

df_2012['Classification indicated'] = classification_list

In [30]:
#apparently this found 35 articles
df_2012[df_2012['Classification indicated'] == 1].count()

Unnamed: 0                  35
Title                       35
Authors                     35
Page numbers                35
DOI                         35
Year of publication         35
Classification indicated    35
dtype: int64

In [31]:
#now replicating for 2021

classification_list = titleAnalysis(df_2021)

df_2021['Classification indicated'] = classification_list

In [32]:
#found 104 articles in 2021
df_2021[df_2021['Classification indicated'] == 1].count()

Unnamed: 0                  104
Title                       104
Authors                     104
Page numbers                104
DOI                         104
Year of publication         104
Classification indicated    104
dtype: int64

In [33]:
#this should probably output an edited csv for next section to work on!
df_2012.to_csv("miccai_2012_first_wave.csv")
df_2021.to_csv("miccai_2021_first_wave.csv")

In [34]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 532 entries, 0 to 535
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                532 non-null    int64
 1   Title                     532 non-null    object
 2   Authors                   532 non-null    object
 3   Page numbers              532 non-null    object
 4   DOI                       532 non-null    object
 5   Year of publication       532 non-null    int64
 6   Classification indicated  532 non-null    int64
dtypes: int64(3), object(4)
memory usage: 33.2+ KB